<div class="row row-home" >
  <div class="col l6 offset-l3 white">
    <div class="field">
      <h6>
        <strong>Ricevuto da: </strong>
        <% if !request.params["issender"].nil? %>
          <% if request.params["issender"] == true %>
            <%= @message.receiver_name %>
          <% else %>
            <%= @message.sender_name %>
          <% end %>

        <% end %>
        
      </h6>
    </div>
    
    <div class="field">      
      <b><%= label(:viaggio, 'Viaggio', '', class:"label-custom") %></b>
      <p>
        <%= @path.departure + ' - '  + @path.arrive%>
      </p>
    </div>

    <div class="field">      
      <b><%= label(:date_departure, 'Data di partenza', '', class:"label-custom") %></b>
      <p>
        <%= @path.date_departure %>
      </p>
    </div>

    <div class="field">
        <b><%= label(:titolo, 'Titolo', '', class:"label-custom") %></b>
        <p><%= @message.title %></p>
       
    </div>

    <div class="field">
      <b><%= label(:message, 'Messaggio', '', class:"label-custom") %></b>
      <p>
        <%= @message.message %>
      </p>
    </div>

    <div class="field">
      <div class="col l11">
        <% if !request["issender"].nil? %>
          <button onclick="replyMessage(<%= @message.id %>, '<%= @message.path_offer_id %>', '<%= params["id"] %>')" class="waves-effect waves-light btn btn-devise">Rispondi</button> 
          <% end %>
      </div>
      <div class="col l1">
        <%= link_to 'Back', messages_path %>
      </div>
      
    </div>
  </div>
  
</div>


<script>
  
  function replyMessage(reply, path_offer_id,id){    
   // alert("id <%= params['id'] %>")
      window.location.href = '/messages/new?reply=' + reply + '&path_offer_id='+path_offer_id+'&id='+id    
    }
</script>
