 <div class="row">
  <div class="col l6 offset-l3">
    <%= form_with model: @profile, local: true  , html: { multipart: true } do |form| %>
      <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
       
       
      <div >
        <%=  image_tag @profile.avatar.url %>
        <br/>
        <%= form.label :avatar %>Seleziona l'immagine del profile
        <br/>
        <%= form.file_field :avatar %>
      </div>

      <br/>

      <div class="col l6  field">
        <%= form.label :Nome %>
        <%= form.text_field :name %>
      </div >

      <div class="col l6 field">
        <%= form.label :Cognome %>
        <%= form.text_field :surname %>
      </div>
            
      <div class="col l6 field">
        <%= form.label :Cellulare %>
        <%= form.text_field :mobile %>
      </div>

      <div class="col l6 field">
        <%= form.label :Data_di_nascita %>
        <input type="text" class="datepicker">

      </div>
      
      <div class="col l6 field">
        <%= form.label :indirizzo %>
        <%= form.text_field :address %>
      </div>

      <div class="col l6 field">
        <%= form.label :Città %>
        <%= form.text_field :city %>
      </div> 

      <div class="field">
        <%= form.label :Descrizione_Personale %>
        <%= form.text_area :description %>
      </div>

      <div class="actions">
        <%= form.submit "salva", class:"waves-effect waves-light btn btn-devise" %>
      </div>
    <% end %>
  </div>  
 </div>
 
