    <%= form_with model: @profile, local: true  , html: { multipart: true } do |form| %>
      <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
       
       
      <div class="field">
       <% if @profile.avatar.url != "/images/original/missing.png" %>
            <%=  image_tag @profile.avatar.url, id: "myImg", height:'20'%>
          <% end %>      
          <div id="myModal" class="modal" style="margin-top: 100px">
          <span class="close">&times;</span>
          <img class="modal-content" id="img01" >
        </div>  
        <br/>
        <%= form.label :avatar , class:"label-custom" %>Seleziona l'immagine del profilo
        <br/>
        <%= form.file_field :avatar %>
      </div>

      <br/>
       <div class="col l6 field ">
      
        <%= form.label :nome , class:"label-custom"%>
        <%= form.text_field :name %>
      </div >

      <div class="col l6 field">
          
         <%= form.label :cognome, class:"label-custom"%>
        <%= form.text_field :surname %>
      </div>
            
      <div class="col l6 field">
       
        <%= form.label :cellulare , class:"label-custom"%>
        <%= form.text_field :mobile %>
      </div>

      <div class="col l6 field">
        <%= form.label :data_di_nascita , class:"label-custom"%>
        <input type="text" class="datepicker">

      </div>
      
      <div class="col l6 field">
        <%= form.label :indirizzo , class:"label-custom"%>
        <%= form.text_field :address %>
      </div>

      <div class="col l6 field">
        <%= form.label :citta , class:"label-custom"%>
        <%= form.text_field :city %>
      </div> 

      <div class="field">
        <%= form.label :descrizione, class:"label-custom"%>
        <%= form.text_area :description %>
      </div>

      <div class="actions">
        <%= form.submit "Salva", class:"waves-effect waves-light btn btn-devise" %>
      </div>
    <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>
    <% end %>
 
 
 
