    <%= form_with model: @profile, local: true  , html: { multipart: true } do |form| %>
      <% if profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
       
       
      <div class="field">
        <% if @profile.avatar.url != "/images/original/missing.png" %>
          <%=  image_tag @profile.avatar.url %>
        <% end %> 
        <br/>
        <%= form.label :avatar %>Seleziona l'immagine del profilo
        <br/>
        <%= form.file_field :avatar %>
      </div>

      <br/>
       <div class="col l6 field ">
      
        <div class="black-text text-darken-2">
       Nome
     </div>
        <%= form.text_field :name %>
      </div >

      <div class="col l6 field">
          
          <div class="black-text text-darken-2">
              Cognome
          </div>
        <%= form.text_field :surname %>
      </div>
            
      <div class="col l6 field">
       
        <div class="black-text text-darken-2">
            Cellulare
            </div>
        <%= form.text_field :mobile %>
      </div>

      <div class="col l6 field">
        <div class="black-text text-darken-2">
          Data_di_nascita
         </div> 
        <input type="text" class="datepicker">

      </div>
      
      <div class="col l6 field">
        <div class="black-text text-darken-2">
           Indirizzo
         </div>
        <%= form.text_field :address %>
      </div>

      <div class="col l6 field">
        <div class="black-text text-darken-2">
           Citta
           </div>
        <%= form.text_field :city %>
      </div> 

      <div class="field">
        <div class="black-text text-darken-2">
         Descrizione_Personale
        </div>
        <%= form.text_area :description %>
      </div>

      <div class="actions">
        <%= form.submit "Salva", class:"waves-effect waves-light btn btn-devise" %>
      </div>
    <% end %>
 
 
 
