<p id="notice"><%= notice %></p>

<div class="row">   
  <% @profiles.each do |profile| %>
    <% if profile.user == current_user %>
      <div class="col l12">
        <div class="col l5 center">        
          <%= image_tag profile.avatar.url, class: "activator" %> 
        </div>

        <div class="col l7">
          <div class="field">        
            <h5>Nome</h5>
            <%= profile.name %>
          </div>
          <div class="field">        
            <h5>Cognome</h5>
            <%= profile.surname %>
          </div>

          <div class="field">        
            <h5>Indirizzo</h5>
            <%= profile.address %>
          </h5>

          <div class="field">        
            <h5>Città</h5>
            <%= profile.city %>
          </div>

          <div class="field">        
            <h5>Cellulare</h5>
            <%= profile.mobile %>
          </div>

          <div class="field">        
            <h5>Descrizione</h5>
            <%= profile.description %>
          </div>

          <div>
            <%= link_to 'Edit', edit_profile_path(profile) %>
          </div>
             
        </div>
      </div>
       
    <% end %>  
  <% end %>
</div>
