<div class="row">
	<div class="col l9 offset-l1">
		<%= form_tag search_result_preferences_path, :method => 'get' do %>
	    <div class="col l3 field">
	     <%= form.label :nome , class:"label-custom"%>
        <%= form.text_field :name, params[:name] %>
	    </div>
	    <div class="col l3 field">
	       <%= form.label :cognome, class:"label-custom"%>
        <%= form.text_field :surname, params[:surname] %>
	    </div>
	     <div class="col l3 field">
        <%= form.label :indirizzo , class:"label-custom"%>
        <%= form.text_field :address, params[:address] %>
      </div>
	    <div class="col l3 field">
	      <%= form.label :cellulare , class:"label-custom"%>
        <%= form.text_field :params[:mobile] %>
	    </div>
	    <div class="col l3 field">
	    <%= form.label :data_di_nascita , class:"label-custom"%>
         <%= date_select( "data_di_nascita" ,:data_di_nascita) %> 
	    </div>
	    <div class="col l3 field">
	    <%= form.label :citta , class:"label-custom"%>
        <%= form.text_field :city, params[:city] %>
    </div>

       	<br/>
        <div class="actions">
		      <%= submit_tag "Cerca" , class:"waves-effect waves-light btn btn-devise" %>
	    </div>
      <% end %>
	</div>
</div>