<div class="row">
  <div class="col l6 offset-l3">
    <div>
        <div class="col l6 field">
          <%=  image_tag @profile.avatar.url %>          
        </div>

        <div class="col l6 field">
           <div class="black-text text-lighten-3"> 
          Nome 
        </div>
          <%= @profile.name %>
        </div >

        <div class="col l6 field">
           <div class="black-text text-lighten-3"> 
         Cognome
        </div>
          <%= @profile.surname %>
        </div>
      </div>
      
      <div>
        <div class="col l6 field">
           <div class="black-text text-lighten-3"> 
          Indirizzo 
        </div>
          <%= @profile.address %>
        </div>

        <div class="col l6 field">
           <div class="black-text text-lighten-3"> 
          Citta
        </div>
          <%= @profile.city %>
        </div>
      </div>

      <div class="col l6 field">
         <div class="black-text text-lighten-3"> 
          Cellulare
        </div>
        <%= @profile.mobile %>
      </div>

      <div class="col l6 field">
         <div class="black-text text-lighten-3"> 
          Descrizione 
        </div>
        <%= @profile.description %>
      </div>


  </div>   
<div class="col l1">
<%= link_to 'Back', profiles_path   %><i class="material-icons left">arrow_back</i>|
</div>
<div class="col l1 offset-l3">
</div>
<div class="col 11">
<%= link_to 'Modifica', edit_profile_path(@profile)%><i class="material-icons left">edit</i>
</div>
  </div>  
</div>
  


