
<%= form_with(model: path_offer, local: true) do |form| %>
  <% if path_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(path_offer.errors.count, "error") %> prohibited this path_offer from being saved:</h2>

      <ul>
        <% path_offer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @path_offer.user == current_user %> 
    

    <div class="col l6 field">
      <%= form.label :partenza %>
      <%= form.text_field :departure %>
    </div>

    <div class="col l6 field">
      <%= form.label :Arrivo %>
      <%= form.text_field :arrive %>
    </div>

    <div class="col  l12 field">
      <%= form.label :luogo_di_ritrovo %>
      <%= form.text_field :place %>
    </div>

    <div class="col l6 field">
      <%= form.label :data_di_partenza %>
      <%= form.date_select :date_departure %>
    </div>
    
    <div class="col l6 field">
      <%= form.label :data_di_arrivo %>
      <%= form.date_select :date_arrive %>
    </div>
    <div class="col l3 field">
      <%= form.label :Mezzo %>
      <p>
        <%  if !@typeVehicle.nil? %>
          <%= @typeVehicle.description %>
        <% end %>
    </div>
    <div class=" col l3 field">
      <%= form.label :prezzo %>
      <%= form.text_field :price %>
    </div>
    <div class="col l2 field">
      <%= form.label :nr_posti %>
      <%= form.number_field :max_available %>
    </div>    
        
      <%= form.hidden_field :vehicle_id, value:@vehicle.id  %>
    

    <div class="actions">
      <%= form.submit "Salva" , class:"waves-effect waves-light btn btn-devise" %>
    </div>
  <% end %>
<% end %>
