<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col l6 offset-l3">
    <%= debug @path_offers_founded %>
      form_tag search_path_offers_path, :method => "post", class: 'navbar-form navbar-left' do  
     
      <%= form_tag(path_offers_path , method: "get", local: true) do %>
        form_tag projects_path, :method => 'get' do

        <div class="col l6 field">
          <%= label :departure, 'Partenza' %>
          <%= text_field :departure ,params[:departure]%>
        </div>

        <div class="col l6 field">
          <%= label :arrive, 'Arrivo' %>
          <%= text_field :arrive, params[:departure] %>
        </div>

        <div class="col l6 field">
          <%= label :date_departure, 'Data di partenza' %>
          <%= date_select :date_departure,params[:date_departure] %>
        </div>

        <div class="col l6 field">
          <%= label :date_arrive, 'Data di arrivo' %>
          <%= date_select :date_arrive,params[:date_arrive] %>
        </div>
        
        <div class="col l2 field">
          <%= label :max_available, 'Nr. posti' %>
          <%= number_field :max_available,params[:max_available] %>
        </div>
                

        <div class="actions">
          <%= submit_tag "Salva" , class:"waves-effect waves-light btn btn-devise" %>
        </div>
     
    <% end %>
  </div>
</div>

<div class="row">
  <h4 class="center">I tuoi passaggi</h4>
  <% if !@path_offers.nil? %>
    <table> 
      <thead>
        <tr>
          <th>Vehicle</th>
          <th>User</th>
          <th>Departure</th>
          <th>Arrive</th>
          <th>Date departure</th>
          <th>Date arrive</th>
          <th>Price</th>
          <th>Max available</th>
          <th>Booked</th>
          <th>Full</th>
          <th colspan="3"></th>
        </tr>
      </thead>
 
       <tbody>
        <% @path_offers.each do |path_offer| %>
          <tr>
            <td><%= path_offer.vehicle_id %></td>
            <td><%= path_offer.user_id %></td>
            <td><%= path_offer.departure %></td>
            <td><%= path_offer.arrive %></td>
            <td><%= path_offer.date_departure %></td>
            <td><%= path_offer.date_arrive %></td>
            <td><%= path_offer.price %></td>
            <td><%= path_offer.max_available %></td>
            <td><%= path_offer.booked %></td>
            <td><%= path_offer.full %></td>
            <td><%= link_to 'Show', path_offer %></td>
            <td><%= link_to 'Edit', edit_path_offer_path(path_offer) %></td>
            <td><%= link_to 'Destroy', path_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  <% end %>
    <%= link_to 'New Path Offer', new_path_offer_path %>
</div>



