<div class="row row-home white">
  <div class="col l12 white">
    <h4 class="center">Passaggi offerti</h4>
    <% if !@path_offers.nil? %>
      <table class="striped highlight centered"> 
        <thead>
          <tr>
            <th>ID</th>
            <th>Automezzo</th>
            <th>User</th>
            <th>Partenza</th>
            <th>Arrivo</th>
            <th>Data di partenza</th>
            <th>Data di arrivo</th>
            <th>Prezzo</th>
            <th>Nr posti</th>
            <th>Nr prenotati</th>
            <th>Completo</th>
            <th>Luogo di ritrovo</th>
            <th colspan="2" class="center">Azioni</th>
          </tr>
        </thead>
   
         <tbody>
          <% @path_offers.each do |path_offer| %>
            <tr>
              <td><%= path_offer.id %></td>
              <td>
                <%=  @typeVehicle.description  + " " + @vehicle.model%>
                <% if !@vehicle.typeVehicle.nil? %>
                  <% @vehicle.typeVehicle.each do |v| %>
                    <% if v.id == path_offer.vehicle_id  %>
                      <p class="testi-show">
                        <%= v.description %>
                      </p>  
                    <% end %>
                  <% end %> 
                <% end %>

                <%= path_offer.vehicle_id %></td>
              <td><%= path_offer.user_id %></td>
              <td><%= path_offer.departure %></td>
              <td><%= path_offer.arrive %></td>
              <td><%= path_offer.date_departure %></td>
              <td><%= path_offer.date_arrive %></td>
              <td><%= path_offer.price %></td>
              <td><%= path_offer.max_available %></td>
              <td><%= path_offer.booked %></td>
              <td>
                <% if path_offer.full == 0 %>
                        <i class="material-icons left">hourglass_empty</i>
                      <% else %>
                        <i class="material-icons left">hourglass_full</i>
                      <% end %>

              </td>
              <td><%= path_offer.place %>
              <td>              
                <% if Date.today < path_offer.date_departure   %>
                   <i class="material-icons left">edit <%= link_to 'Modifica', edit_path_offer_path(path_offer) , class:"waves-effect waves-light btn btn-devise"%></i>
                <% else %>  
                    <i class="material-icons left">do_not_disturb_off</i>
                <% end %> 
              </td>
              <td>
                <% if Date.today < path_offer.date_departure %>
                   <i class="material-icons left">delete <%= link_to 'Cancella', path_offer, method: :delete, data: { confirm: 'Sei sicuro?' } , class:"waves-effect waves-light btn btn-devise"%></i>
                
                <% else %>  
                    <i class="material-icons left">do_not_disturb_off</i>
                <% end %>              
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
   
      <br>

      
      <div class="center">
        <%= will_paginate @path_offers %>
      </div>
    <% end %>
  </div>
  
</div>



