<div class="row">
	 
	  <h4 class="center">Risultato della ricerca</h4>
	  <% if !@path_offers_founded.nil? %>
	    <table> 
	      <thead>
	        <tr>
	        	<th>ID</th>
	          	<th>Automezzo</th>
	          	<th>Utente</th>
	          	<th>Partenza</th>
	          	<th>Arrivo</th>
	          	<th>Data di partenza</th>
	          	<th>Data di arrivo</th>
	          	<th>Prezzo</th>
	          	<th>Nr posti</th>
	          	<th>Prenotati</th>
	          	<th>Disponibili</th>
	          	<th>Azione</th>
	          	<th>Completo</th>
	          	<th colspan="3"></th>
	        </tr>
	      </thead>
	 
	       <tbody>
	        <% @path_offers_founded.each do |path_offer| %>
	        	<% if path_offer.booked < path_offer.max_available %>
	        		<% if path_offer.user_id  != current_user.id %>
			          <tr>
			          	<td><%= path_offer.id %>
			            <td><%= path_offer.vehicle_id %></td>
			            <td><%= path_offer.user_id %></td>
			            <td><%= path_offer.departure %></td>
			            <td><%= path_offer.arrive %></td>
			            <td><%= path_offer.date_departure %></td>
			            <td><%= path_offer.date_arrive %></td>
			            <td><%= path_offer.price %></td>
			            <td><%= path_offer.max_available %></td>
			            <td><%= path_offer.booked %></td>
			            <td>
			            	<% if !@booked_for_user.nil? %>
				            	<% if (path_offer.id == @booked_for_user.path_offer_id) %>
				            		<%=   path_offer.max_available-path_offer.booked %>
				            		 
				            	<% else %>
				            		<%= select_tag 'reserved_'+path_offer.id.to_s, options_for_select((1..(path_offer.max_available-path_offer.booked)).step(1)), id: "reserved_"+path_offer.id.to_s %>
				            	<% end %>

				            <% else %>
				            		<%= select_tag 'reserved_'+path_offer.id.to_s, options_for_select((1..(path_offer.max_available-path_offer.booked)).step(1)), id: "reserved_"+path_offer.id.to_s %>
				            	 

			            	<% end %>
							
			            </td>
			            <td>
			            	<% if !@booked_for_user.nil? %>
				            	<% if (path_offer.id == @booked_for_user.path_offer_id) %>
				            		<button onclick='deletePathBooked(<%= path_offer.id %>, <%= current_user.id %>)'>Cancella</button>
				            	<% else %>
									<button onclick="sendData(<%= path_offer.id %> , <%= path_offer.booked %>, <%= 'reserved_'+path_offer.id.to_s %>, <%= current_user.id %>)">Prenota</button>
								<% end%>

								<% else %>
									<button onclick="sendData(<%= path_offer.id %> , <%= path_offer.booked %>, <%= 'reserved_'+path_offer.id.to_s %>, <%= current_user.id %>)">Prenota</button>

							<% end %>
			            </td>
			            <td><%= path_offer.full %></td>
			            <td><%= link_to 'Show', path_offer %><i class="material-icons left">description</i></td>
			            <td><%= link_to 'Edit', edit_path_offer_path(path_offer) %><i class="material-icons left">edit</i></td>
			            <td><%= link_to 'PrenotA', path_offer, method: :delete, data: { confirm: 'Are you sure?' } %><i class="material-icons left">book</i></td>
			          </tr>
			        <% end %>
		        <% end %>
	        <% end %>
	      </tbody>
	    </table>
	 <script type="text/javascript">
	 	function deletePathBooked(path_offer_id, current_user_id){
			xmlhttp = $.ajax({
						  type:"GET",
						  url:"/delete-path-booked",
						  dataType:"json",
						   async: false,
						  data: {path_offer_id: path_offer_id, current_user_id: current_user_id},
						  success:function(data){
						    alert(data.responseText);
						  }
						}); 
			       
						if ( xmlhttp.status == 200 ) {
							alert (xmlhttp.responseText);
							window.location.href = '/used';
						}
						else
							alert("Cencellazione fallita");
			 	 	 

	 		alert("Cancellazione eseguita correttamente");
	 	}

	 	function sendData(path_offer_id, old_value, reserved, current_user_id){	 			 
			xmlhttp = $.ajax({
			  type:"GET",
			  url:"/update-path-booked",
			  dataType:"json",
			   async: false,
			  data: {path_offer_id: path_offer_id, old_value: old_value, booked: reserved.value, current_user_id: current_user_id},
			  success:function(data){
			    alert(data.responseText);
			  }
			}); 
       
			if ( xmlhttp.status == 200 ) {
				alert (xmlhttp.responseText);
				window.location.href = '/used';
			}
			else
				alert("Prenotazione fallita");
 	 	}

	 </script>
	    <br>

	    <ul class="pagination">
	    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
	    <li class="active"><a href="#!">1</a></li>
	    <li class="waves-effect"><a href="#!">2</a></li>
	    <li class="waves-effect"><a href="#!">3</a></li>
	    <li class="waves-effect"><a href="#!">4</a></li>
	    <li class="waves-effect"><a href="#!">5</a></li>
	    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
	  </ul>
	 
	  <% end %>
	    <%= link_to 'New Path Offer', new_path_offer_path %>
	</div>