<div class="row">
	<h4 class="center">Pagina di ricerca</h4>

	<div class="col l6 offset-l3">
		<%= debug @path_offers_founded %>
		  <%= form_tag search_path_offers_path, :method => "get", class: 'navbar-form navbar-left' do  =>
		 
		    form_with(:model path_offers_founded, method: "get"), local: true do  
		    form_tag projects_path, :method => 'get' do

		    <div class="col l6 field">
		      <%= label :departure, 'Partenza' %>
		      <%= text_field :departure ,params[:departure]%>
		    </div>

		    <div class="col l6 field">
		      <%= label :arrive, 'Arrivo' %>
		      <%= text_field :arrive, params[:departure] %>
		    </div>

		    <div class="col l6 field">
		      <%= label :date_departure, 'Data di partenza' %>
		      <%= date_select :date_departure,params[:date_departure] %>
		    </div>

		    <div class="col l6 field">
		      <%= label :date_arrive, 'Data di arrivo' %>
		      <%= date_select :date_arrive,params[:date_arrive] %>
		    </div>
		    
		    <div class="col l2 field">
		      <%= label :max_available, 'Nr. posti' %>
		      <%= number_field :max_available,params[:max_available] %>
		    </div>
		    		    

		    <div class="actions">
		      <%= submit_tag "Salva" , class:"waves-effect waves-light btn btn-devise" %>
		    </div>
		 
		<% end %>
	</div>
</div>