<p id="notice"><%= notice %></p>

<div class="row">
  <h4 class="center">Passaggi prenotati</h4>
  <% if !@paths.nil? %>
    <table> 
      <thead>
        <tr>
          <th>Id</th>
          <th>Partenza</th>
          <th>Arrivo</th>
          <th>Data di partenza</th>
          <th>Data di arrivo</th>
          <th>Prezzo</th>
          <th>Lascia un feedback</th>
        </tr>
      </thead>
 
       <tbody>
        <% @paths.each do |path_offer| %>        	
          <tr>   
            <td><%= path_offer.id %></td>         
            <td><%= path_offer.departure %></td>
            <td><%= path_offer.arrive %></td>
            <td><%= path_offer.date_departure %></td>
            <td><%= path_offer.date_arrive %></td>
            <td><%= path_offer.price %></td>     
            <td>
              <% if path_offer.date_arrive < Date.today  %>
                <p><%= link_to "Lascia un feed!", new_feedback_path(:path_offer_id => path_offer.id, :departure => path_offer.departure, :arrive => path_offer.arrive, :date_departure => path_offer.date_departure.to_s) %></p>
              <% else %>
                <p></p>
              <% end %>
<%= button_to 'Cancella', path_offer, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>       
          </tr>	
        <% end %>
      </tbody>
    </table>
 
    <br>

 
  <% end %>
</div>