<h4>Messaggio da: <%= @name %> per il viaggio</h4>
<br/>
<h3>Viaggio da <%= @departure %> a <%= @arrive %> del <%= @date_departure %></h3>
<br/>
<h5>Titolo: <%= @title %></h5>
<br/>
<p><%= @message %></p>
<br />
<br/>
<p>Collegati al sito per fornire una risposta</p>
<br/>
<p>Cordiali saluti</p>
