<%= form_with(model: preference, local: true) do |form| %>
  <% if preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
        <% preference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
  <br/>
  <br/>
  <div class="col l6 field">
    <div >
      <i class="material-icons left">message</i>
    </div>
    <div class="col l10 ">    
      <%= form.check_box(:conversation) %>
      <%= form.label(:conversation, "Amo la conversazione", :style=>'padding-top:0.5em;') %>
    </div >
  </div>
  

  <div class="col l6 field">
    <div>
      <i class="material-icons left">audiotrack</i>
    </div>
    <div class="col l10">    
      <%= form.check_box(:music) %>
      <%= form.label(:music, "Amo la musica", :style=>'padding-top:0.5em;') %>
    </div >
  </div>

  <br/>
 

  <div class="col l6 field">
    <div>
      <i class="material-icons left">smoking_rooms</i>
    </div>
    <div class="col l10">    
      <%= form.check_box(:smoke) %>
      <%= form.label(:smoke, "Mi piace fumare", :style=>'padding-top:0.5em;') %>
    </div >
  </div>
   

  <div class="col l6 field">
    <div>
      <i class="material-icons left">pets</i>
    </div>
    <div class="col l10">    
      <%= form.check_box(:animal) %>
      <%= form.label(:animal, "Amo gli animali", :style=>'padding-top:0.5em;') %>
    </div >
  </div>

  <% form.number_field :user_id %>
  <div class="actions">
    <%= form.submit "Salva" , class:"waves-effect waves-light btn btn-devise" %>
  </div>
<% end %>
