<%= form_with(model: preference, local: true) do |form| %>
  <% if preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
        <% preference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br/>
  <br/>
  <div class="col l6  field">
    <%= check_box_tag(:conversation, true, @preference.conversation)  %>
    <%= label_tag(:conversation, "Amo la conversazione") %>
  </div >
  <div class="col l6  field">
    <%= check_box_tag(:smoke, @preference.smoke, @preference.smoke)  %>
    <%= label_tag(:smoke, "Amo la fumare") %>
  </div >

  <div class="col l6  field">
    <%= check_box_tag(:animal, true, @preference.animal)  %>
    <%= label_tag(:animal, "Amo gli animali") %>
  </div >
  
  <div class="col l6  field">
    <%= check_box_tag(:music, true, @preference.music)  %>
    <%= label_tag(:music, "Amo la musica") %>
  </div >

  <% check_box_tag(:user_id, current_user.id, @preference.user_id) %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
