<div class="row row-home">
	<div class="col l9 offset-l1 white">
		<%= form_tag search_result_preferences_path, :method => 'get' do %>
	    <div class="col l3 field">
	      <%= label_tag :Conversazione %>
	      <%= radio_button_tag :conversation, params[:conversation] %> 
	    </div>
	    <div class="col l3 field">
	      <%= label_tag :Fumo %>
	      <%= radio_button_tag :smoke, params[:smoke] %> 
	    </div>
	    <div class="col l3 field">
	      <%= label_tag :Musica %>
	      <%= radio_button_tag :music, params[:music] %> 
	    </div>
	    <div class="col l3 field">
	      <%= label_tag :Animale %>
	      <%= radio_button_tag :animal, params[:animal] %> 
	    </div>
       	<br/>
        <div class="actions">
		      <%= submit_tag "Cerca" , class:"waves-effect waves-light btn btn-devise" %>
	    </div>
      <% end %>
	</div>
</div>
