<%= form_with(model: feedback_path, local: true) do |form| %>
  <% if feedback_path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback_path.errors.count, "error") %> prohibited this feedback_path from being saved:</h2>

      <ul>
        <% feedback_path.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="black-text text-lighten-3"> 
          user_id
        </div>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
     <div class="black-text text-lighten-3"> 
          path_offers_id
        </div>
    <%= form.text_field :path_offers_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
