<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @feedback_path.user_id %>
</p>

<p>
  <strong>Path offers:</strong>
  <%= @feedback_path.path_offers_id %>
</p>
<div class="col 11 ">
<%= link_to 'Back', feedback_paths_path  %><i class="material-icons left">arrow_back</i>
</div>
<div class="col l1 offset-l3">
</div>
<div class="col 11">
<%= link_to 'Modifica', edit_feedback_path_path(@feedback_path)%><i class="material-icons left">edit</i></a>
</div>	 

