<p id="notice"><%= notice %></p>

<h1>Feedbacks</h1>
<% if !@feedback.nil? %>      
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Feedback</th>
      <th>Score</th>
      <th>Path offers id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.id %></td>
        <td><%= feedback.feedback %></td>
        <td><%= feedback.score %></td>
        <td><%= feedback.path_offers_id %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>     
  </tbody>
</table>
<% end %>
<br>
<%= link_to 'New Feedback', new_feedback_path %> <i class="material-icons left">add</i>
