<p id="notice"><%= notice %></p>
<div class="row row-home">
  <div class="col l8 offset-l2 white">

    <h4>Feedback lasciati</h4>
    <% if !@feedback.nil? %>      
    <table class="striped highlight centered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Utente</th>          
          <th>Feedback</th>
          <th>Punteggio</th>
         </tr>
      </thead>
      <tbody>
        <% @feedback.each do |feedback| %>
          <tr>
            <td><%= feedback.id%></td>
            <td><%= feedback.path_offer.profile.name %>            
            <td><%= feedback.feedback %></td>
            <td><%= feedback.score %></td>
             
          </tr>
        <% end %>     
      </tbody>
    </table>
    <% end %>
    <br/>
  <div class="center">
    <%= will_paginate @feedback %>
  </div>
  </div>

</div>
 