<div class="row row-home">        
	<div class="col l9 offset-l1 white">
		<%= form_tag search_result_path_offers_path, :method => 'get' do %>
		
		<div class="col l6 field">
			<%= label(:Marca , 'Marca', '',class:"label-custom" )%> 	 
	    	<%= text_field_tag :brand, params[:brand] %>   
	    </div>

	    <div class="col l6 field">
	      <%= label(:Modello , 'Modello', '', class:"label-custom")%>
	      <%= text_field_tag :model, params[:model] %> 
	    </div>
	    <div class="col l6 field">
	      <%= label(:Colore , 'Colore', '', class:"label-custom")%>
	      <%= text_field_tag :colour, params[:colour] %> 
	    </div>
	    <div class="col l3 field">
	    	<%= label(:Motore , 'Motore', '', class:"label-custom") %>
	     	<%= text_field_tag :motor, params[:motor] , :onkeypress=>"return soloNumeri(event);"%> 
	    </div>
	    <div class="col l3 field">
	      	<%= label( :type_vehicle_id , 'Tipo veicolo', '', class:"label-custom") %>
       		<%= select_tag :type_vehicle_id, options_from_collection_for_select(@typevehicles, 'id', 'id'), id: 'ty' %>
   		</div>

       	<br/>
       	
        <div class="actions" >
        	 
		      <%= submit_tag "Cerca" , class:"waves-effect waves-light btn btn-devise" %>
		 
	    
	</div>
      <% end -%>
	</div>
</div>

<script>
  	function soloNumeri(evt) {
    	var charCode = (evt.which) ? evt.which : event.keyCode
    	if (charCode > 31 && (charCode < 48 || charCode > 57)) {
      		return false;
   		}
    	return true;
 	}

</script>