<div class="row">
	<div class="col l9 offset-l1">
		<%= form_tag search_result_preferences_path, :method => 'get' do %>
	    <div class="col l3 field">
	     <%= form.label :Marca , class:"label-custom"%>
        <%= form.text_field :brand, params[:brand] %>
	    </div>
	    <div class="col l3 field">
	       <%= form.label :Modello, class:"label-custom"%>
        <%= form.text_field :model, params[:model] %>
	    </div>
	     <div class="col l3 field">
        <%= form.label :Motore , class:"label-custom"%>
        <%= form.text_field :motor, params[:motore] %>
      </div>
	    <div class="col l3 field">
	      <%= form.label :Colore , class:"label-custom"%>
        <%= form.text_field :colour, params[:colour] %>
	    </div>
       	<br/>
        <div class="actions">
		      <%= submit_tag "Cerca" , class:"waves-effect waves-light btn btn-devise" %>
	    </div>
      <% end %>
	</div>
</div>