<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col l6 offset-l3">
    <% if @vehicle.user == current_user %>    
      <div class="col l6 field">
        <%= label_tag 'Tipo veicolo', nil %>
        <br/>
        <% if !@vehicle.typeVehicle.nil? %>
          <% @vehicle.typeVehicle.each do |v| %>
            <% if v.id == @vehicle.type_vehicle_id %>
              <p class="testi-show">
                <%= v.description %>
              </p>  
            <% end %>
          <% end %> 
        <% end %>  

        <br/>
        <br/>
        <label>Marca</label>
        <%= @vehicle.brand %>

        <br/>
        <br/>
        <label>Modello</label>
        <%= @vehicle.model %>

        <br/>
        <br/>
        <label>Motore</label>
        <%= @vehicle.motor %>

        <br/>
        <br/>
        <label>Colore</label>
        <%= @vehicle.colour %>
      </div>

      <div class="col l6 field">
        <%=  image_tag @vehicle.photo_1.url %>
        <br/>
        <label>Foto 1</label>
        <br/>
         

        <br/>
        <br/>
        
        <%=  image_tag @vehicle.photo_2.url %>
        <br/>
        <label>Foto 2</label>
        
      </div>

      
    <% end %>

  <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
  <%= link_to 'Back', vehicles_path %>

  </div>
</div>
