<div class="row row-home">
  <div class="col l6 offset-l3 white">
    <% if @vehicle.user == current_user %>    
      <div class="col l6 field">
        <%= label_tag 'Tipo veicolo', nil %>
        <br/>
        <% if !@vehicle.typeVehicle.nil? %>
          <% @vehicle.typeVehicle.each do |v| %>
            <% if v.id == @vehicle.type_vehicle_id %>
              <p class="testi-show">
                <%= v.description %>
              </p>  
            <% end %>
          <% end %> 
        <% end %>  

        <br/>
        <br/>
        <%= label_tag 'Marchio', nil, class:"label-custom"%>
        <%= @vehicle.brand %>

        <br/>
        <br/>
        <%= label_tag 'Modello', nil, class:"label-custom"%>
        <%= @vehicle.model %>

        <br/>
        <br/>
        <%= label_tag 'Motore', nil, class:"label-custom"%>
        <%= @vehicle.motor %>

        <br/>
        <br/>
        <%= label_tag 'Colore', nil, class:"label-custom"%>
        <%= @vehicle.colour %>

        
        
      </div>

      <div class="col l6 field">
       # <% if @vehicle.avatar.url != "/images/original/missing.png" %>
        <%=  image_tag @vehicle.photo_1.url %>
      #  <% end %>
        <br/>
        <label>Foto 1</label>
        <br/>
         

        <br/>
        <br/>
        # <% if @vehicle.avatar.url != "/images/original/missing.png" %>
        <%=  image_tag @vehicle.photo_2.url %>
     #   <% end %>
        <br/>
        <label>Foto 2</label>
        
      </div>

      
    <% end %>
<div class="col l1">
<%= link_to 'Back', vehicles_path   %><i class="material-icons left">arrow_back</i>|
</div>
<div class="col l1 offset-l3">
</div>
<div class="col 11">
<%= link_to 'Modifica', edit_vehicle_path(@vehicle)%><i class="material-icons left">edit</i>
</div>
  </div>
</div>
