<div class="row row-home">
  <div class="col l4 offset-l4 white">
    <% if @vehicle.user == current_user %>    
      <div class="col l6 field">
        <%= label('Tipo veicolo','Tipo veicolo', class:"black-text text-lighten-3") %>
        <br/>
        <% if !@vehicle.typeVehicle.nil? %>
          <% @vehicle.typeVehicle.each do |v| %>
            <% if v.id == @vehicle.type_vehicle_id %>
              <p class="testi-show">
                <%= v.description %>
              </p>  
            <% end %>
          <% end %> 
        <% end %>  

         
        <div class="col 12 center">
          <div class="col l6 left">        
              <label class="black-text text-lighten-3">Foto 1</label>
              <%=  image_tag(@vehicle.photo_1.url, size: "60x60") %>         
          </div>

          <div class="col l6 field">        
              <label class="black-text text-lighten-3">Foto 2</label>
              <%=  image_tag(@vehicle.photo_2.url, size: "60x60") %>         
          </div>
        </div>


        <p> </p>
        <div class="col l12 field">
          <%= label( 'Marchio', 'Marchio', class:"black-text text-lighten-3")%>
          <%= @vehicle.brand %>
        </div>

        

        <div class="col l12 field">
          <%= label('Modello', 'Modello', class:"black-text text-lighten-3")%>
          <%= @vehicle.model %>
        </div>
 
        

        <div class="col l12 field">
          <%= label('Motore', 'Motore', class:"black-text text-lighten-3")%>
          <%= @vehicle.motor %>
        </div>

        <div class="col l12 field">
          <%= label('Colore','Colore', class:"black-text text-lighten-3")%>
          <%= @vehicle.colour %>
        </div>
        
       <p></p>

        <div class="col l12 field">
          <span><%= link_to 'Back', vehicles_path   %><i class="material-icons left">arrow_back</i></span>
        </div>
        
        <div class="col 11 field">
          <span><%= link_to 'Modifica', edit_vehicle_path(@vehicle)%><i class="material-icons left">edit</i></span>
        </div>
         
 
      </div>
        
      </div>

      
    <% end %>

  </div>
</div>
