<div class="row row-home">
  <div class="col l6 offset-l3 white">
    <% if @vehicle.user == current_user %>    
      <div class="col l6 field">
        <%= label_tag 'Tipo veicolo', nil %>
        <br/>
        <% if !@vehicle.typeVehicle.nil? %>
          <% @vehicle.typeVehicle.each do |v| %>
            <% if v.id == @vehicle.type_vehicle_id %>
              <p class="testi-show">
                <%= v.description %>
              </p>  
            <% end %>
          <% end %> 
        <% end %>  

        <br/>
        <br/>
        <%= label( 'Marchio', '', class:"black-text text-lighten-3")%>
        <%= @vehicle.brand %>

        <br/>
        <br/>
        <%= label('Modello', '', class:"black-text text-lighten-3")%>
        <%= @vehicle.model %>

        <br/>
        <br/>
        <%= label('Motore', '', class:"black-text text-lighten-3")%>
        <%= @vehicle.motor %>

        <br/>
        <br/>
        <%= label('Colore','', class:"black-text text-lighten-3")%>
        <%= @vehicle.colour %>

        
        
      </div>

      <div class="col l6 field">
        <% if !@vehicle.photo_1.url.nil? %>
            <label class="black-text text-lighten-3">Foto 1</label>
            <%=  image_tag @vehicle.photo_1.url %>
          <% end %>
        <br/>
         

        <br/>
        <br/>
        <% if @vehicle.photo_2.url.nil? %>
          <%=  image_tag @vehicle.photo_2.url %>
        <% end %>
          <br/>
        <label>Foto 2</label>
        <% end %> 
        
        
      </div>

      
    <% end %>
<div class="col l1">
<%= link_to 'Back', vehicles_path   %><i class="material-icons left">arrow_back</i>
</div>
<div class="col l1 offset-l3">
</div>
<div class="col 11">
<%= link_to 'Modifica', edit_vehicle_path(@vehicle)%><i class="material-icons left">edit</i>
</div>
  </div>
</div>
