<header>
	<nav class="light-blue darken-4">
		<div class="nav-wrapper">
			<!-- user: id:  -->
			<% if !current_user.nil? %>
			<!--<%= current_user.id %> -->
			<% end %>
		  	<%= link_to "Passaggi", root_path, class:"brand-logo"%>
		  	<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		  	<ul id="gestioneAdmin" class="dropdown-content">
		  		<li><%= link_to "Gestione utenti", admin_utenti_path, :style=>'color:@ffffff;' %></li>
			  	<li><%= link_to 'Gestione passaggi', admin_paths_path, :style=>'color:@ffffff;' %> </li>
			  	<li><%= link_to 'Gest. tip. Veicoli', type_vehicles_path, :style=>'color:@ffffff;' %> </li>
			  <li class="divider"></li>
			  
		  	</ul>

		  	<ul id="dropdownMessaggi" class="dropdown-content">
		  		<li><%= link_to "Messaggi ricevuti", message_received_path, :style=>'color:@ffffff;' %></li>
			  	<li><%= link_to 'Messaggi inviati', messages_path, :style=>'color:@ffffff;' %> </li>
			  <li class="divider"></li>
			  
		  	</ul>
		  	<ul id="dropdownProfilo" class="dropdown-content">
		  		<li><%= link_to "Informazioni personali", profiles_path %></li>
			  	<li><%= link_to 'Preferenze', preferences_path, :style=>'color:@ffffff;' %> </li>
			  	<li><%= link_to 'Veicolo', vehicles_path, :style=>'color:@ffffff;' %> </li>
			  	<li><%= link_to 'Passaggi offerti', path_offers_path, :style=>'color:@ffffff;' %> </li>
			  	<li><%= link_to 'Passaggi prenotati', used_path_offers_path, :style=>'color:@ffffff;' %> </li>
			    <li><%= link_to 'Feedback inviati', feedbacks_path, :style=>'color:@ffffff;' %> </li>
			    <li><%= link_to 'Feedback ricevuti', feedback_ricevuti_path, :style=>'color:@ffffff;' %> </li>
			  <li class="divider"></li>
			  
		  	</ul>
		    <ul class="right hide-on-med-and-down ul-header  class="dropdown-content" >
		     	<li><a style="color:#fff" href="/search"><i class="material-icons left">search</i>Trova</a></li>
		      	<% if current_user && current_user.active == 0 && !current_user.admin%>
		      		<li><a style="color:#fff" href="/path_offers/new"><i class="material-icons left">view_module</i>Nuovo passaggio</a></li>    
		      	<% end %>

		      	<li> 
		      		<% if user_signed_in? %>
		      			<% if !current_user.admin %>
		      				<li><a class="dropdown-trigger" style="color:#fff"  href="#!" data-target="dropdownMessaggi"><i class="material-icons left">message</i>Messaggi<i class="material-icons right">arrow_drop_down</i></a></li>
		    		
		    			<% end %>
	    	  	<% else %>
			    	<li><%= link_to "Log in", new_user_session_path , :style=>'color:#FFFFFF;'  %></li>
			    	<li><%= link_to "Registrazione", new_user_registration_path , :style=>'color:#FFFFFF;'  %></li>
		     	<% end %>
		      	</li> 
		      	<% if user_signed_in? %>
		      		<% if current_user.admin %>
		      			<li><a class="dropdown-trigger" style="color:#fff"  href="#!" data-target="gestioneAdmin"><i class="material-icons left">message</i>Admin<i class="material-icons right">arrow_drop_down</i></a></li>
		      		<% else %>
		      			<li><a class="dropdown-trigger" style="color:#fff"  href="#!" data-target="dropdownProfilo">Profilo<i class="material-icons right">arrow_drop_down</i></a></li>
		      		<% end %>
		      		 
		    		<li><%= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: 'Sei sicuro?' }, :style=>'color:#FFFFFF;' %></li>		    	
		     	<% end %>
		  	</ul>

			<ul class="sidenav id=mobile-demo">
				<li><a style="color:#fff" href="/search"><i class="material-icons left">search</i>Trova</a></li>
			  	<li><a style="color:#fff" href="badges.html"><i class="material-icons left">view_module</i>Nuovo passaggio</a></li>
			  	<li><a style="color:#fff" href="/messages"><i class="material-icons left">message</i>Messaggi</a></li> 
			    <% if user_signed_in? %>
			    	/i></a></li>
			    	<li><%= link_to "Log out" , destroy_user_session_path, method: :delete, data: { confirm: 'Sei sicuro?' }, :style=>'color:#FFFFFF;' %></li>
		    	<% else %>
				    <li><%= link_to "Log in", new_user_session_path , :style=>'color:#FFFFFF;' %></li>
				    <li><%= link_to "Registrazione", new_user_registration_path , :style=>'color:#FFFFFF;' %></li>
			    <% end %>
			</ul>

		</div>
	</nav>
</header>

